.sidebar {
    position: fixed;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 20%;
    display: flex;
    background: white;
    justify-content: center;
    transform: translate(0%);
    transition: 0.3s;
    min-height: calc(100% - 90px);
    overflow: hidden;
    margin-bottom: 10px;

}
.showNavBar{
    transform: translate(20vw);
}