$colorExcellent: #27ae60;
$colorGood: #1abc9c; 
$colorAverge: #f1c40f;
$colorBad: #f39c12;
$colorAwful: #c0392b;

.userRating p {
    font-size: 1.2rem;
}
.avgRating{
    border: 3px solid;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
}
.row{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;    
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.barcontainer {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}
.star{
    color: #F9BF3B;
    margin-left: 10px;
}

/* Individual bars */
.bar_5 { height: 18px; background-color: $colorExcellent}
.bar_4 { height: 18px; background-color: $colorGood}
.bar_3 { height: 18px; background-color: $colorAverge}
.bar_2 { height: 18px; background-color: $colorBad}
.bar_1 { height: 18px; background-color: $colorAwful}
/* Color to average rating*/
.rateColor_1{
    color: $colorAwful;
}
.rateColor_2{
    color: $colorBad;
}
.rateColor_3{
    color: $colorAverge;
}
.rateColor_4{
    color : $colorGood;
}
.rateColor_5{
    color: $colorExcellent
}
/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
}
/* Hide the right column on small screens */
    .right {
        display: none;
    }
}