
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.book {
    font-family: 'Roboto Mono', monospace;

    position: relative;
    padding: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.like{
    position: absolute;
    right: 0px;
    top: 0px;
}
.book img {
    width: 225px;
    height: 325px;
}
.book:hover {
    box-shadow: 0 0 8px 1px rgb(180, 180, 180);
}
.mainInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {

    font-weight: bold;
    text-align: center;
    
}

.buttons{
    display: flex;

}

.read{
    margin: 10px;
}
.description{
    margin: 10px;
}


.fill {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    font-weight: 200;
    width: 90%;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .fill::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .fill:hover::after {
    top: 0px;
    left: 0px;
  }
.readButton::after{
    background-color: #f29d16;
}