.book {
    
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.book img {
    width: 225px;
    height: 325px;
}
.book:hover {
    box-shadow: 0 0 8px 1px rgb(180, 180, 180);
}
.mainInfo{

}
.title {
    font-weight: 900;
}

.buttons{

}

.read{

}
.description{

}