.navbar {
  background: white;
  grid-area: navbar;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin: 0 0 0 40px;
}
.item {
  background: #4d636f;
  color: white;
}
.active {
  background: #cccccc;
  color: black;
}
a {
  text-decoration: none;
}
