.book{
    width: 100%;
    padding: 10px;
}
.book img{
    width: 100%;
    
}
.title{
    text-align: center;
    
}
.authors{
    text-align: center;
    font-weight: 600;
}
.preloader{
    margin: 20px;
}