.centerContent{
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    left: 20%;
    width: calc(80% - 20px);    
    margin: 0 10px 10px 10px;
    min-height: calc(100% - 90px);

}