body{
    margin: 0;
    background: #f5f7f8
}

.App{
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 2fr 6fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas: 
            "header header header"
            "navbar content sidebar";
}


html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
