@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
html, body{
    margin: 0;
    background: #f5f7f8;
    height: 100%;
    width: 100%;
}

#root{
    height: 100%;
    width: 100%;
}
.App{
    height: 100%;
    width: 100%;
    position: relative;
    
}

html, body, h1, h2, h3, h4, h5 { font-family: 'Macondo', cursive;}





/* .App{
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 2fr 6fr 1fr;
    grid-column-gap: 10px;  
    grid-template-areas: 
            "header header header"
            "navbar content sidebar";
} */